/**
 * header
 */
header {
    background-image: url('/img/bg.png');
    padding-bottom:   75px;
    margin-bottom:    70px;
}
#logo {
    margin-top:    75px;
    margin-bottom: 75px;
}
.tagline {
    font-size:   42px;
    color:       #BEA16B;
}
#subtitle {
    font-size:   18px;
    color:       #DEDEDE;
}

/**
 * body
 */
body {
    color: #5A595A;
    font-size: 18px;
}
h4 {
    font-weight: bold;
}
a {
    color: #BEA16B;
}
a:hover, a:focus {
    color: rgb(145, 118, 65);
    outline: none;
}
.main-text {
    margin-top:    25px;
    margin-bottom: 35px;
    line-height: 30px;
}
#contact_submit_msg_wrapper {
    background: #f2f2f2 url("/img/check.png") no-repeat 50% 50px;
    padding: 85px 40px 41px 40px;
    text-align: justify;
    width: 343px;
    font-weight: 100;
    font-style: italic;
    color: #999;
}

.container {
    max-width: 850px;
}
.highlighted {
    font-size: 17px;
    padding: 0;
    font-style: italic;
    font-weight: 300;
}
.mail-link {
    background: url("/img/icon-mail.png") no-repeat;
    padding-left: 25px;
    background-position: 0 3px;
}
.twitter-link {
    background: url("/img/icon-twitter.png") no-repeat;
    padding-left: 25px;
    background-position: 1px 3px;
}
.left-link {
    margin-right: 45px;
}
.right-link {
    width: 120px;
}
.links {
    margin-top: 25px;
}
.main {
    margin-top: 35px;
}
#winter {
    margin-bottom: 30px;
    color: #BEA16B;
}
#main_content_left {
    padding-right: 40px
}
#main_content_right {
    border-left: 1px solid #F2F2F2;
    padding-left:   65px;
    margin-bottom: 50px;
}



/**
 * form
 */

input[type=text], input[type=email], textarea {
    font-size: 19px;

    border-top:    0px;
    border-right:  0px;
    border-bottom: 1px solid rgb(222, 222, 222);
    border-left:   0px;

    margin-top: 10px;
    width: 100%;

}
input:focus, textarea:focus {
    outline: none;
    border-bottom: 1px solid #BEA16B;
}
textarea {
    resize: none;
}
textarea[placeholder] {
    color: rgb(89, 89, 89);
}
::-webkit-input-placeholder {
    color: rgb(89, 89, 89);
}
[placeholder]:focus::-webkit-input-placeholder {
  opacity: 0;
}
input::-moz-placeholder {
    color: rgb(89, 89, 89);
}
[placeholder]:focus::-moz-placeholder {
  opacity: 0;
}
input:-ms-input-placeholder {
    color: rgb(89, 89, 89);
}
.button {
    background-color: white;
    border: 3px solid #BEA16B;
    color: #BEA16B;
    padding: 10px 45px;
    margin-top: 12px;
}
.button:hover {
    background-color: #BEA16B;
    color:white;
}
.button:active {
    border: 3px solid rgb(145, 118, 65);
    color:  rgb(145, 118, 65);
    outline: none;
}
.button:focus {
    border: 3px solid rgb(145, 118, 65);
    background-color: rgb(145, 118, 65);
    color:  white;
    outline: none;
}

/**
 * footer
 */
#copyright {
    margin-left:135px;
}
footer {
    font-size: 14px;
    position: relative;
    background-color: #BEA16B;
    margin-top:       70px;
    padding-top:      30px;
    padding-bottom:   30px;
    color: rgb(145, 118, 65);
}

@media (max-width: 768px) {
    .mission-blurb-wrapper {
        padding-left: 40px;
    }
    .coming-soon-label {
        text-align: left;
        padding-left: 40px;
    }
    .contact-us {
        margin-top: 45px;
        padding-left: 5px
    }
    #main_content_right{
        padding: 0 40px;
    }
    #contact_submit_msg_wrapper {
    width: 100%;
    }
    #winter {
        margin: 0;
    }
    #thanks {
        margin: 30px 10px 0 20px;
    }
}